{% extends 'base.html' %}


{% block title %}
Твоя корзина
{% endblock title %}



{% block content %}
<h1>Твоя корзина покупок</h1>
<table class="table table-light table-hover table-sm" cellpading="10">
    <thead class=" table-dark">
        <tr>
            <th scope="col">Продукт</th>
            <th scope="col">Количество</th>
            <th scope="col">Удаление</th>
            <th scope="col">Cтоимость</th>
        </tr>
    </thead>
    <tbody>

        {% for item in cart %}

        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{product.get_absolute_url}}">
                    {{product.product_name}}
                </a>
            </td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}

                    <input type="submit" value="Update">
                    {% csrf_token %}

                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <input type="submit" value="Remove">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num align-top">${{item.total_price}}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="">
            <td>Всего</td>
            <td class="num" colspan="3" align="right">${{cart.get_total_price}}</td>
        </tr>
    </tbody>
</table>
<p>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'shop:products' %}"><button type="button" class="btn btn-primary">Продолжить</button></a>
    <a href="#"><button type="button" class="btn btn-primary" align="right">Оформить заказ</button></a>
</div>
</p>
{% endblock content %}