
.content {
    position: relative;
    z-index: 10000; /* Чтобы контент был над блоком */
    margin: 0 auto; /* Центрирование блока */
    width: 50%; /* Ширина блока */
    padding: 20px; /* Отступы внутри блока */
    background-color: #adb5bd; /* Цвет фона блока */
    border-top: 10px solid black;/* Рамка */
}
