{% extends 'base.html' %}


{% block title %}
{{category_name.category_name}}
{% endblock title %}


{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in list_products %}
    <div class="col">
        <div class="card">
            <a href="{% url 'shop:product_info' category_name.slug product.slug%}">
                <img src="
            {% if product.image %}
            {{product.image.url}}
            {% else %}
            ...
            {% endif %}
                " class="card-img-top" alt="" width="150 px" height="150 px"></a>
            <div class=" card-body text-center">
                <h5 class="card-title"><a href="{% url 'shop:product_info' category_name.slug product.slug%}"
                        class="text-decoration-none">{{product.product_name}}</a>
                </h5>

            </div>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock content %}