<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>
        {% block title %}
        Цельское молочко
        {% endblock title %}
    </title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'shop:main_page' %}" class="nav-link px-2 link-secondary">Главная</a></li>
                    <li><a href="{% url 'shop:products' %}" class="nav-link px-2 link-dark">Продукция</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">О нас</a></li>
                </ul>
                <div style="margin-right: 20px;">
                    {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                    <a href="{% url 'cart:cart_detail' %}">
                        <button type="button" class="btn btn-primary">
                            Корзина
                            <span class=" badge rounded-pill bg-danger">{{total_items}}</span>
                        </button>
                    </a>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="dropdown text-end align-items-center">
                    {% if request.user.is_authenticated %}
                    <a href="#" class="mt-2 me-1 ms-1 text-dark d-block link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.first_name|default:request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Личный кабинет</a></li>
                        <li><a class="dropdown-item" href="#">История заказов</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:logout' %}">Выйти</a></li>
                    </ul>
                    {% else %}
                    <form class="form-inline ml-auto">
                        <a href="{% url 'account:login' %}" class="btn btn-outline-primary">Войти</a>
                        <a href="{% url 'account:register' %}" class="btn btn-primary ml-2">Регистрация</a>
                    </form>
                    {% endif %}

                </div>
            </div>
    </header>
</body>
<div class="container" style="width: 50%;">
    {% block content %}
    {% endblock content %}
</div>
</body>

</html>