{% extends 'base.html' %}


{% block title %}
{{category_name}}
{% endblock title %}


{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in list_products %}
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.product_name}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock content %}