{% extends 'base.html' %}
{% load static %}

{% block title %}
{{product.product_name}}
{% endblock title %}



{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-thumbnail" src="{% if product.image %}
{{product.image.url}}
{% else %}
...
{% endif %}" alt="">
        </div>
        <div class="col-lg-6">
            <h1>{{product.product_name}}</h1>
            <p></p>
            <p>{{product.description}}</p>
            <p>Цена: {{product.price}}</p>
            <form class="form-label" action="{% url 'cart:cart_add' product.id %}" method="post">
                {{cart_product_form}}
                {% csrf_token %}
                <p></p>
                <p></p>
                <input class="form-label btn btn-primary" type="submit" value="Добавить в корзину">
            </form>
        </div>
    </div>
</div>

{% endblock content %}